@use '../utilities' as *;
@use '../theme' as *;

.container {
  // Resets
  all: inherit;
  margin: unset;
  padding: unset;
  background-color: transparent;

  // Try to keep 960px max-width until screen is smaller than 960px and Add padding right and left to container on mobile
  inline-size: min(calc(100% - $containerPaddingMobile), rem(960px));

  // Margin Left and Right auto
  margin-inline: auto;
}
