@use '../utilities' as *;
@use '../theme' as *;

.container {
  // Try to keep 960px max-width until screen is smaller than 960px then switch to 100% max-width and Add padding right and left to container on mobile
  inline-size: min(calc(100% - $containerPaddingMobile), rem(960px));

  @include not-support('inline-size: 0') {
    width: min(calc(100% - $containerPaddingMobile), rem(960px));
  }

  // Margin Left and Right auto
  margin-inline: auto;

  @include not-support('margin-inline: auto') {
    margin-left: auto;
    margin-right: auto;
  }
}
