@use '../theme' as *;
@use '../utilities' as *;

body {
  font-family: $primaryFont, system-ui, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: rem(18px);
  font-weight: normal;
  line-height: normal;
  text-align: start; // Left

  @include not-support('text-align: start') {
    text-align: left;
  }

  @include mq($ps-mobile) {
    font-size: rem(16px);
  }
}

strong {
  font-family: $primaryFont;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primaryFont;
  font-weight: 500;
  line-height: 1.2;
  text-align: start; // Left

  @include not-support('text-align: start') {
    text-align: left;
  }
}

h1 {
  font-size: clamp(rem(32px), 5vw + 1rem, rem(40px));
}

h2 {
  font-size: rem(32px);

  @include mq($ps-mobile) {
    font-size: rem(25px);
  }
}

h3 {
  font-size: rem(25px);
}

p {
  line-height: 1.6;

  main & {
    margin-block-end: rem(10px);

    @include not-support('margin-block-end: 0') {
      margin-bottom: rem(10px);
    }

    &:last-child {
      margin-block-end: 0;

      @include not-support('margin-block-end: 0') {
        margin-bottom: 0;
      }
    }
  }
}

a {
  transition: all $transition-in-out;

  main p & {
    text-decoration: underline;
  }
}
