<div class="cookiesContainer js-cookiesContainer"
     data-i18n="cookie.refuse-continue"
     data-i18n-attr="aria-label"
     aria-modal="true"
     role="dialog"
     tabindex="0"
     (keydown)="firstItemTab($event)">

    <p class="desc" data-i18n="cookie.desc">
    </p>

    <p class="desc" data-i18n="cookie.desc1">
    </p>

    <div class="cookie-btn">

        <button class="accept-cookie">
            Accepter
        </button>
    </div>

    <button class="refuseContinue" data-i18n="cookie.refuse-continue">
    </button>

</div>
